@model CallDivert.Models.Schedule
@{
    ViewBag.Title = "Create";
}
<div class="content-wrapper" style="min-height: 946.281px;">
    <section class="content-header">
        <h1>
            Create Schedule
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->


                    <form role="form" method="post" action="@Url.Action("Create", "Schedule")">
                        @Html.AntiForgeryToken()
                        <div class="box-body">
                            <div class="form-group">
                                <label for="UserId">User</label>
                                @Html.DropDownListFor(model => model.UserId, ViewBag.UserList as SelectList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="Day">Select Day</label>
                                @Html.DropDownListFor(model => model.Day, new SelectList(new[]
                                {
                                    new SelectListItem { Text = "Monday", Value = "Monday" },
                                    new SelectListItem { Text = "Tuesday", Value = "Tuesday" },
                                    new SelectListItem { Text = "Wednesday", Value = "Wednesday" },
                                    new SelectListItem { Text = "Thursday", Value = "Thursday" },
                                    new SelectListItem { Text = "Friday", Value = "Friday" },
                                    new SelectListItem { Text = "Saturday", Value = "Saturday" },
                                    new SelectListItem { Text = "Sunday", Value = "Sunday" },
                                }, "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="FromTime">Start Time</label>
                                <input type="time" class="form-control" id="FromTime" name="FromTime">
                            </div>
                            <div class="form-group">
                                <label for="ToTime">End Time</label>
                                <input type="time" class="form-control" id="ToTime" name="ToTime">
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>

                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>
</div>

